In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../OUTPUT/ordered_set.csv")

In [9]:
df['Attacks per Country'] = [df["Country"].value_counts()]
df_df = df [['Year', 'Date', 'Time', 'Country', 'Attacks per Country', 'Sex ', 'Age','Activity', 'Fatal (Y/N)', 'Species ', 'Case Number']]

ValueError: Length of values does not match length of index

In [8]:
df_df

,Year,Date,Time,Country,Attacks per Country,Sex,Age,Activity,Fatal (Y/N),Species,Case Number
0,2016,18-Sep-16,13h00,USA,NaN,M,16,Surfing,N,NaN,2016.09.18.c
1,2016,18-Sep-16,11h00,USA,NaN,M,36,Surfing,N,NaN,2016.09.18.b
2,2016,18-Sep-16,10h43,USA,NaN,M,43,Surfing,N,NaN,2016.09.18.a
3,2016,17-Sep-16,NaN,AUSTRALIA,NaN,M,NaN,Surfing,N,NaN,2016.09.17
4,2016,16-Sep-16,NaN,AUSTRALIA,NaN,M,NaN,Surfing,N,2 m shark,2016.09.15
...,...,...,...,...,...,...,...,...,...,...,...
5068,1916,Reported 24-Jun-1916,NaN,ATLANTIC OCEAN,NaN,M,NaN,Jumped overboard from Norwegian steamship Venator,Y,NaN,1916.06.24.R
5069,1916,23-Jun-16,NaN,USA,NaN,M,26,NaN,N,NaN,1916.06.23
5070,1916,Reported 25-Apr-1916,NaN,AUSTRALIA,NaN,M,NaN,Swimming,Y,NaN,1916.04.25.R
5071,1916,03-Apr-16,NaN,AUSTRALIA,NaN,M,17,Clinging to overturned rowing boat,Y,NaN,1916.04.03
5072,1916,19-Mar-16,15h30,AUSTRALIA,NaN,M,NaN,Bathing,N,NaN,1916.03.19