In [1]:
import pandas as pd
!pip3 install matplotlib
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: numpy>=1.11 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.17.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (40.8.0)

In [2]:
df = pd.read_csv("../OUTPUT/ordered_set.csv")

In [3]:
'''
Quiero crear una nueva columna que identifique la cantidad de ataques en cada pais. Una vez conseguido esto, 
intentare hacer un cutoff en distintas categorias dependiendo de la cantidad de ataques por pais.
'''

df['Attacks per Country'] = df["Country"].value_counts()
df_df = df [['Year', 'Date', 'Time', 'Country', 'Attacks per Country', 'Sex ', 'Age','Activity', 'Fatal (Y/N)', 'Species ', 'Case Number']]

In [4]:
#count = df_df.groupby(['Country']).transform('count') 
#count

In [5]:
df_df

,Year,Date,Time,Country,Attacks per Country,Sex,Age,Activity,Fatal (Y/N),Species,Case Number
0,2016,18-Sep-16,13h00,USA,NaN,M,16,Surfing,N,NaN,2016.09.18.c
1,2016,18-Sep-16,11h00,USA,NaN,M,36,Surfing,N,NaN,2016.09.18.b
2,2016,18-Sep-16,10h43,USA,NaN,M,43,Surfing,N,NaN,2016.09.18.a
3,2016,17-Sep-16,NaN,AUSTRALIA,NaN,M,NaN,Surfing,N,NaN,2016.09.17
4,2016,16-Sep-16,NaN,AUSTRALIA,NaN,M,NaN,Surfing,N,2 m shark,2016.09.15
...,...,...,...,...,...,...,...,...,...,...,...
5068,1916,Reported 24-Jun-1916,NaN,ATLANTIC OCEAN,NaN,M,NaN,Jumped overboard from Norwegian steamship Venator,Y,NaN,1916.06.24.R
5069,1916,23-Jun-16,NaN,USA,NaN,M,26,NaN,N,NaN,1916.06.23
5070,1916,Reported 25-Apr-1916,NaN,AUSTRALIA,NaN,M,NaN,Swimming,Y,NaN,1916.04.25.R
5071,1916,03-Apr-16,NaN,AUSTRALIA,NaN,M,17,Clinging to overturned rowing boat,Y,NaN,1916.04.03
5072,1916,19-Mar-16,15h30,AUSTRALIA,NaN,M,NaN,Bathing,N,NaN,1916.03.19

In [6]:
df_df.groupby['Country','Sex'].size().unstack().plot(kind='bar',stacked=True, )
plt.show()

TypeError: 'method' object is not subscriptable

In [ ]:
df_df.groupby('Sex ')['Country'].nunique().plot(kind='bar')
plt.show()

In [7]:
df_df[['Age']].plot(kind='hist',bins=[0,20,40,60,80,100],rwidth=0.8)
plt.show()

TypeError: no numeric data to plot